#{extends 'admin/UsersController/main.html' /}
#{set title}&{'edit.user'}#{/set}
#{stylesheet 'login.html.css' /}



*{<!-- Visa / ändra användaruppgifter -->}*
<div class="row">
<div class="col-sm-6">
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3>${user.name}</h3>
         &{'UserType'}: &{user.getClass().getSimpleName()}
      </div>
      <div class="panel-body">
         #{form @admin.UsersController.save(), 'role':'form', class:'form-horizontal'}
	<input type="hidden" name="user.id" value="${user.id}" />
        <label for="name" class="control-label">&{'Name'}:</label>
	<input id="name" class="form-control" type="text" name="user.name" value="${user.name}"/>
	
        <label for="email" class="control-label">&{'Email'}:</label>
	<input id="email" class="form-control" type="text" name="user.email" value="${user.email}"/></td>
	
         <label for="street" class="control-label">&{'Street'}:</label>
         <input id="street" class="form-control" type="text" name="user.street" value="${user.street}"/></td>
                        
         <label for="zip" class="control-label">&{'zipcode'}:</label>
         <input id="zip" class="form-control" type="text" name="user.zipcode" value="${user.zipcode}"/></td>
	
         <label for="city" class="control-label">&{'city'}:</label>
         <input id="city" class="form-control" type="text" name="user.city" value="${user.city}"/></td>
	
         <label for="cell" class="control-label">&{'cellphone'}:</label>
         <input id="cell" class="form-control" type="text" name="user.cellphone" value="${user.cellphone}"/></td>
	
         <label for="phone" class="control-label">&{'phone'}:</label>
         <input id="phone" class="form-control" type="text" name="user.phone" value="${user.phone}"/>

         <input class="btn btn-info pull-right" type="submit" value="&{'Save'}" />
         #{/form}
      </div>
   </div>

</div>
<div class="col-sm-6">
   *{<!-- Visa alla grupper som användaren har -->}*
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3>&{'user.groups'}</h3>
      </div>
      <div class="panel-body">
         <table class="table table-condensed table-hover">
         #{list items:user.groups, as:'group'}
             <tr>
                <td><b>${group.parent!=null?group.parent.name+' -> ':''}${group.name}</b></td>
                *{<!-- en admin kan inte ta bort en grupp från en superadmin -->}*
                #{if (sessionuser.getClass() == models.Admin.class && user.getClass() != models.SuperAdmin.class) || sessionuser.getClass() == models.SuperAdmin.class }
                <td>
                   #{form @admin.UsersController.removeUserFromGroup(user.id, group.id), class:'delete'}
                     <button type="submit" class="btn btn-default" alt="remove group" value="" />
                        <span class="glyphicon glyphicon-trash"></span>
                     </button>
                  #{/form}
                </td>
                #{/if}
             
         #{/list}
         </table>
         #{else}
             &{"user.has.no.groups"}
         #{/else}
         
         *{<!-- Add group to user-->}*
         #{form @admin.UsersController.addGroupToUser()}
            <input type="hidden" name="userid" value="${user.id}" />       
            <div class="input-group">
              
               <div class="input-group-btn">
                  <input type="submit" class="btn btn-default" value="&{'add.user.to.group'}" />
               </div> #{group.showgroups groups:sessionuser.company.getCompanyGroups(), key:'groupId', option:'Choose.group.dots' /} 
            </div>        
         #{/form}
      </div>
  
   </div>
   <div class="panel panel-default">
      <div class="panel-heading">
         <h3>&{'UserType'}</h3>
      </div>
      <div class="panel-body">
         *{<!-- Ändra användartype -->}*
         #{if (sessionuser.getClass() == models.Admin.class && user.getClass() != models.SuperAdmin.class) || sessionuser.getClass() == models.SuperAdmin.class}
         #{form @admin.UsersController.setUserType(), 'role':'form'}
         <input type="hidden" name="id" value="${user.id}" />
         
         <input type="radio" id="user" name="usertype" value="0" #{if user.getClass() == models.User.class}checked="checked"#{/if} />
         <label for="user">&{'User'}</label>
         <br />
         <input type="radio" id="prev" name="usertype" value="3" #{if user.getClass() == models.PrivilegeUser.class}checked="checked"#{/if}/>
         <label for="prev">&{'PrivilegeUser'}</label>
         <br />
         <input type="radio" id="admin" name="usertype" value="1" #{if user.getClass() == models.Admin.class}checked="checked"#{/if}/>
         <label for="admin">&{'Admin'}</label>
         
         *{<!-- bara en superadmin kan tilldela en annan superadmin-->}*
         #{if sessionuser.getClass() == models.SuperAdmin.class}
            <br />
            <input type="radio" id="superadmin" name="usertype" value="2" #{if user.getClass() == models.SuperAdmin.class}checked="checked"#{/if}/>
            <label for="superadmin">&{'SuperAdmin'}</label>
            #{/if}
            <input type="submit" class="btn btn-info pull-right" value="&{'change.usertype'}"/>			
         #{/form}
         #{/if} 
      </div>
   </div>    
</div>
    </div>




