#{extends 'main.html' /}
<script>
$("li#admin").addClass("active");
</script>
#{set title:'Admin' /}

<h1>Administratör</h1>

<div class="divmenu-holder col-md-6 col-xs-12" goal="@{admin.Userscontroller.index()}">
    <div class="menu-object-holder">
        <h2>Hantera användare</h2>
    </div>
</div>
<div class="divmenu-holder col-md-6 col-xs-12" goal="@{admin.GruppController.index()}">
    <div class="menu-object-holder">
        <h2>Hantera grupper</h2>
    </div>
</div>
<div class="divmenu-holder col-md-6 col-xs-12" goal="@{admin.CompanyController.index()}">
    <div class="menu-object-holder">
        <h2>Hantera Företag</h2>
    </div>
</div>
<div class="divmenu-holder col-md-6 col-xs-12" goal="@{admin.AdminController.modules()}">
    <div class="menu-object-holder">
        <h2>Hantera Moduler</h2>
    </div>
</div>