#{extends 'main.html' /}
<script>
$("li#admin").addClass("active");
</script>
#{set title:'Admin' /}

<h1>Administratör</h1>

<div class="col-sm-6">
   <div class="panel panel-default divmenu-holder" goal="@{admin.Userscontroller.index()}">
      <div class="panel-body">
         <a href="@{admin.Userscontroller.index()}"  />
            <h2>Hantera användare</h2>
        </a>
      </div>
   </div>
</div>

<div class="col-sm-6">
   <div class="panel panel-default divmenu-holder" goal="@{admin.GruppController.index()}">
      <div class="panel-body">
         <a href="@{admin.GruppController.index()}"  />
            <h2>Hantera grupper</h2>
        </a>
      </div>
   </div>
</div>

<div class="col-sm-6">
   <div class="panel panel-default divmenu-holder" goal="@{admin.CompanyController.index()}">
      <div class="panel-body">
         <a href="@{admin.CompanyController.index()}"  />
            <h2>Hantera Företag</h2>
        </a>
      </div>
   </div>
</div>

<div class="col-sm-6">
   <div class="panel panel-default divmenu-holder" goal="@{admin.AdminController.modules()}">
      <div class="panel-body">
         <a href="@{admin.AdminController.modules()}"  />
            <h2>Hantera Moduler</h2>
        </a>
      </div>
   </div>
</div>

<div class="col-sm-6">
   <div class="panel panel-default divmenu-holder" goal="@{pages.Pages.index()}">
      <div class="panel-body">
         <a href="@{pages.Pages.index()}"  />
            <h2>Hantera Sidor</h2>
        </a>
      </div>
   </div>
</div>
