#{mainpage title:'SuperAdmin' /}
<script>
$("li#superadmin").addClass("active");
</script>

<h1>Superadministratör</h1>

<div class="divmenu-holder" goal="@{SuperAdminController.modules()}">
<h2>Hantera moduler</h2>
</div>
<div class="divmenu-holder" goal="@{SuperAdminController.users()}">
<h2>Hantera Användare</h2>
</div>
<div class="divmenu-holder" goal="@{SuperAdminController.groups()}">
<h2>Hantera grupper</h2>
</div>
<div class="divmenu-holder" goal="@{SuperAdminController.showCompanies()}">
<h2>Hantera Företag</h2>
</div>