#{mainpage title:'SuperAdmin' /}
<script>
$("li#superadmin").addClass("active");
</script>

<h1>Superadministratör</h1>
<div class="col-sm-6">
   <div class="panel panel-default divmenu-holder" goal="@{SuperAdminController.modules()}">
      <div class="panel-body">
         <a href="@{SuperAdminController.modules()}"/>
            <h2>Hantera moduler</h2>
         </a>
      </div>
   </div>
</div>

<div class="col-sm-6">
   <div class="panel panel-default divmenu-holder" goal="@{SuperAdminController.billing()}">
      <div class="panel-body">
         <a href="@{SuperAdminController.billing()}"/>
            <h2>Hantera prissättning</h2>
         </a>
      </div>
   </div>
</div>

<div class="col-sm-6">
   <div class="panel panel-default divmenu-holder" goal="@{SuperAdminController.users()}">
      <div class="panel-body">
         <a href="@{SuperAdminController.users()}"/>
            <h2>Hantera Användare</h2>
         </a>
      </div>
   </div>
</div>

<div class="col-sm-6">
   <div class="panel panel-default divmenu-holder" goal="@{SuperAdminController.groups()}">
      <div class="panel-body">
         <a href="@{SuperAdminController.groups()}"/>
            <h2>Hantera grupper</h2>
         </a>
      </div>
   </div>
</div>

<div class="col-sm-6">
   <div class="panel panel-default divmenu-holder" goal="@{SuperAdminController.showCompanies()}">
      <div class="panel-body">
         <a href="@{SuperAdminController.showCompanies()}"/>
            <h2>Hantera Företag</h2>
         </a>
      </div>
   </div>
</div>