#{mainpage title:'SuperAdmin' /}
<script>
$("li#superadmin").addClass("active");
</script>

<h1>Superadministratör</h1>

<div class="divmenu-holder col-md-6 col-xs-12" goal="@{SuperAdminController.modules()}">
    <div class="menu-object-holder">
        <h2>Hantera moduler</h2>
    </div>
</div>
<div class="divmenu-holder col-md-6 col-xs-12" goal="@{SuperAdminController.users()}">
    <div class="menu-object-holder">
        <h2>Hantera Användare</h2>
    </div>
</div>
<div class="divmenu-holder col-md-6 col-xs-12" goal="@{SuperAdminController.groups()}">
    <div class="menu-object-holder">
        <h2>Hantera grupper</h2>
    </div>
</div>
<div class="divmenu-holder col-md-6 col-xs-12" goal="@{SuperAdminController.showCompanies()}">
    <div class="menu-object-holder">
        <h2>Hantera Företag</h2>
    </div>
</div>