fieldset.loginform{
    width:350px;
    margin:auto;
    background-color: #ddd;
    padding:  50px;
}
div.loginform{
    width:348px;
}
input.inputbox{
    width:140px;
    font-size: 14px;
}

input.inputbutton{
    
}

span.label{
    width:100px;
}