#{extends 'main.html' /}
#{stylesheet 'login.html.css' /}
#{set title:'Hantera företag' /}

<script type="text/javascript">
jQuery(document).ready(function(){
	#{ifError 'company.orgnr'}
	jQuery("input#orgnr").addClass("error");
	#{/ifError}
	#{ifError 'company.name'}
	jQuery("input#name").addClass("error");
	#{/ifError}
});
</script>

<style>
input.error{
	border: #f00 1px solid;
}
</style>

*{<!-- Kontrollera att user = admin och att den inte har ett företag -->}*
#{if sessionuser.isAdmin() }
*{<!--#{if sessionuser.getClass() == models.Admin.class}-->}*

    #{if sessionuser.company == null}
		&{'first.company.info'}
    #{/if}

    #{if newCompany!=null}
            <h2>Fyll i organisationsuppgifter</h2>
    #{/if}
    #{else}
        <h2>Organisationsuppgifter</h2>
    #{/else}
    <table>
    #{form @admin.CompanyController.create()}
    #{if company && company.id != null}
        <input type="hidden" name="company.id" value="${sessionuser.company?.id}" />
    #{/if}
		
		*{<!-- Organisationsnamn -->}*
        <tr>
            <td>
                <label for="name">Organisationsnamn:</label>
            </td>
            <td>
                <input id="name" type="text" name="company.name" value="${flash['company.name']?flash['company.name']:company?.name}"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="orgnr">Organisationsnummer:</label>
            </td>
            <td>
                <input id="orgnr" type="text" name="company.orgnr" value="${flash['company.orgnr']?flash['company.orgnr']:company?.orgnr}"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Gatuadress:</label>
            </td>
            <td>
                <input id="street" type="text" name="company.street" value="${company?.street}"/>
            </td>
        </tr>
		 *{<!-- zip -->}*
		<tr>
            <td>
                <label>Postnr:</label>
            </td>
            <td>
                <input id="zipcode" type="text" name="company.zipcode" value="${company?.zipcode}"/>
            </td>
        </tr>
		*{<!-- city -->}*
		<tr>
            <td>
                <label>Stad:</label>
            </td>
            <td>
                <input id="city" type="text" name="company.city" value="${company?.city}"/>
            </td>
        </tr>
		*{<!-- mail -->}*
		<tr>
            <td>
                <label>Kontaktmail:</label>
            </td>
            <td>
                <input type="text" name="company.mail" value="${company?.mail}"/>
            </td>
        </tr>
		*{<!-- phone -->}*
		<tr>
            <td>
                <label>Företagstelefon (fast): </label>
            </td>
            <td>
                <input type="text" name="company.phone" value="${company?.phone}"/>
            </td>
        </tr>
		*{<!-- cellphone -->}*
		<tr>
            <td>
                <label>Företagstelefon (mobil):</label>
            </td>
            <td>
                <input type="text" name="company.cellphone" value="${company?.cellphone}"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right;">
                <input type="submit" class="button" value="&{'save'}" />
            </td>
        </tr> 
    </table>
	
	*{<!-- om vi laddar vårt nuvarande företag visa länken till att skapa ett nytt -->}*
	
    #{/form}
    
    #{if newCompany==null && companies.size()>1}
            *{<!-- Lista alla företag -->}*
            <h2>&{'other.companies.account.attached.to'}</h2>
            <ul>
            #{list items:companies, as:'companyObject'}
                    <li><a href="@{Application.loadCompany(companyObject.id)}">${companyObject.name}</a></li>
            #{/list}
            </ul>

    #{/if}
    
    *{<!-- newCompany kommer från action addCompany -->}*
    <a class="button" href="@{admin.CompanyController.addCompany()}">&{'CreateNewCompany'}</a>
#{/if}