#{mainpage title:'My page' /}
<script>
$("li#myaccount").addClass("active");
</script>
<script>
	jQuery(document).ready(function(){
		jQuery("#change-pw-button").click(function(){
			jQuery("#change-pw").css("display","block");
			jQuery("#change-pw-button").css("display","none");
		});
		#{ifError 'password.error'}
			jQuery("input#pw").addClass("error");
			jQuery("input#pw2").addClass("error");
			jQuery("#change-pw").css("display","block");
			jQuery("#change-pw-button").css("display","none");
		#{/ifError}
		#{ifError 'user.name'}
			jQuery("input#name").addClass("error");
		#{/ifError}
		#{ifError 'user.email'}
			jQuery("input#email").addClass("error");
		#{/ifError}
	});
</script>

<div class="col-sm-6">
    #{form @Users.myaccount(), method:'post', 'data-role':'form' }
        <input type="hidden" name="user.id" value="${user.id}" />
        <div class="form-group">
            <label for="name" class="control-label">&{'core.Name'}:</label>
            <input id="name" type="text" name="user.name" class="form-control" value="${user.name}" />
        </div>
        <div class="form-group">
            <label for="email" class="control-label">&{'core.Email'}:</label>
            <input id="email" type="text" name="user.email" class="form-control" value="${user.email}" />
        </div>
        <div class="form-group">
            <span id="change-pw-button" class="btn btn-primary">Byt lösen</span>
            *{<!-- Hidden until button is pressed -->}*
            <div id="change-pw" style="display:none">

                <label for="old" class="control-label">&{'core.old.pass'}:</label>
                <input id="old" class="form-control" type="password" name="oldpassword" />

                <label for="pw" class="control-label">&{'core.pass'}:</label>
                <input id="pw" class="form-control" type="password" name="password1" />

                <label for="pw2" class="control-label">&{'core.pass2'}</label>
                <input id="pw2" class="form-control" type="password" name="password2" />
            </div>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Spara" />
        </div>
    #{/form}
</div>