#{extends 'main.html' /}
#{set title:'MyPage' /}
<script>
$("li#mypage").addClass("active");
</script>
*{<!--
#{list items:modules, as:'module'}
<div class="divmenu-holder col-md-6 col-xs-12" goal="@{ModuleController.index(module.id)}">
    <div class="menu-object-holder">
        <a href="@{ModuleController.index(module.id)}" id="a-${module.name}" /><h2>&{module.name}</h2></a>
        <div class="title" id="${module.name}">&nbsp;
        <script type="text/javascript">
            $(document).ready(
            function(){
                $("#${module.name}").load("@{ModuleController.peek(module.id)}");
            });
        </script>
        </div>
    </div>
</div>
#{/list}
  -->}*
#{list items:modules, as:'module'}
<div class="col-sm-6">
   <div class="panel panel-default divmenu-holder"  goal="@{ModuleController.index(module.id)}">
      <div class="panel-heading">
         <a href="@{ModuleController.index(module.id)}" id="a-${module.name}" />
            <h2>&{module.name}</h2>
         </a>
      </div>
      <div class="panel-body">
         <div class="title" id="${module.name}">&nbsp;
         <script type="text/javascript">
               $(document).ready(
               function(){
                   $("#${module.name}").load("@{ModuleController.peek(module.id)}");
               });
           </script>
         </div>
      </div>
   </div>
</div>
#{/list}

<div style="clear:both;"></div>
<h2>Grupper</h2>

#{list items:sessionuser.getAllGroups(), as:'group'}
	${group.name}<br />
#{/list}


