<table class="table table-bordered">
   <tr>
      <th>&{'core.username'}</th>
      <th>${user.name} ( ${user.getSign()} )</th>
   </tr>
   <tr>
      <td>&{'core.email'}</td>
      <td>${user.email}</td>
   </tr>
   <tr>
      <td>&{'core.street'}</td>
      <td>${user.street}</td>
   </tr>
   <tr>
      <td>&{'core.address'}</td>
      <td>${user.zipcode} ${user.city}</td>
   </tr>
   <tr>
      <td>&{'core.cellphone'}</td>
      <td>${user.cellphone}</td>
   </tr>
   <tr>
      <td>&{'core.phone'}</td>
      <td>${user.phone}</td>
   </tr>
</table>
