#{extends 'admin/main.html' /}
<script>
    jQuery(document).ready(function() {
        jQuery("#modules").addClass("active");
    })
</script>

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("form.delete").submit(
                function() {
                    var username = jQuery(this).attr('username');
                    var module = jQuery(this).attr('module');
                    return confirm('&{'sure.remove.module'}' + ' ' + module);
                }
        );
    });
</script>

#{if sessionuser.getClass() == models.Admin.class || sessionuser.getClass() == models.SuperAdmin.class}
*{<!-- Välj användare -->}*
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">&{'admin.GiveUserModuleAccess'}</h4>
            </div>
            <div class="panel-body">
                #{form @admin.AdminController.modules() ,'role':'form'}
                <div class="input-group">
                    <select name="userid" class="form-control" >
                        <option value="">&{'admin.choose.user'}</option>
                        #{list items:sessionuser.company.users, as:'u'}
                        <option value="${u.id}" #{if user}${user.id==u.id?'selected="selected"'.raw():''}#{/if}>${u.name}</option>
                        #{/list}
                    </select>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default pull-right">&{'Get'}</button>
                    </div>
                </div>
                #{/form}

                #{set user:user /}
                #{set usermodules:usermodules /}
                #{set companymodules:companymodules /}
                <div class="col-sm-12" style="padding-top: 10px;">
                    #{include 'admin/users/modules.html' /}
                </div>
            </div>
        </div>


    </div>
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">&{'admin.GiveGroupModuleAccess'}</h4>
            </div>
            <div class="panel-body">
                *{<!-- Välj grupp -->}*

                #{form @admin.GruppController.modules(), 'role':'form'}
                <div class="input-group">
                    <select name="groupid" class="form-control">
                        <option value="">&{'admin.choose.group'}</option>
                        #{list items:sessionuser.company.getCompanyGroups(), as:'g'}
                        <option value="${g.id}" #{if group}${group.id==g.id?'selected="selected"'.raw():''}#{/if}>${g.name}</option>
                        #{/list}
                    </select>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default pull-right">&{'Get'}</button>
                    </div>
                </div>
                #{/form}

                *{<!-- Gruppmoduler-->}*
                #{set group:group /}
                #{set groupmodules:groupmodules /}
                <div class="col-sm-12" style="padding-top: 10px;">
                    #{include 'admin/groups/modules.html' /}
                </div>
            </div>
        </div>
    </div>
</div>
#{/if}





