<!--*{Hämtas med AJAX}*-->
<script>
    jQuery(document).ready(function(){
        jQuery('#mod-access'+'${moduleId}').submit(function(){
            jQuery("img#wait").css("display","block");
            jQuery.ajax({
                url: jQuery(this).attr("action"),
                type: 'POST',
                dataType: 'html',
                data: $(this).serialize(),
                success: function(data) {
                    jQuery("img#wait").css("display","none");
                }
                
            });
            return false;
        });
    });
</script>

*{<!-- Ritar ut listan på möjliga rättigheter-->}*
#{if list?.size() > 0}
    %{def formname = 'mod-access'+moduleId; }%
    #{form @ModuleController.saveUserAccess(moduleId,userId), id:formname, onsubmit:'return false;'} 
    <div style="float: none">
        <div style="float:left">
        #{list items:list?.keySet(), as:'name'}
            *{<!-- Beräknar om användaren har rättigheten -->}*
            %{            
                def checked = userRights==null||userRights&0x01<<(((int)list.get(name))-1)
            }%
            <input${checked?' checked="checked"'.raw():''} name="list" type="checkbox" value="${list.get(name)}" id="rights-${list.get(name)}">
            <label for="rights-${list.get(name)}">[&{name}]</label><br />
        #{/list}
        
        </div>
        <div style="float:left"><input type="submit" value="&{'save'}" />
        
            <img id="wait" style="display: none;" src="/public/images/wait20.gif" alt="wait"></img></div>
    </div>
    #{/form}
#{/if}
#{else}
    &{'module.has.no.rights.settings'}
#{/else}

