#{form @admin.GruppController.save() }
    <table>
	<tr>
		<td>&{'core.GroupName'}</td>
		<td>&{'core.GroupParentName'}</td>
	</tr>
	<tr>
		<td>
			<input type="text" style="width:200px;" name="grupp.name" value=""/>
		</td>
		<td>
			<select name="grupp.parent.id">
				#{list items:groups, as:'group'}
				<option value="${group.id}">${group.name}</option>
				#{/list}
			</select>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="submit" value="spara" />
		</td>
	</tr>
</table>
#{/form}

#{list items:sessionuser.groups, as:'group'}

#{/list}