#{extends 'main.html' /}
#{set title}&{'create.user'}#{/set}

<style>
    span.halfwidth{
        width:49%;
    }
    span.fullwidth{
        width:100%;
    }
    
    input.deleteSubmitButton{
        background-image: url();
        width:20px;
        height:15px;
    }
</style>

<h2>&{'create.user'}</h2>
#{form @admin.UsersController.save(), 'data-role':'form' } 
<label for="name" class="control-label">&{'Name'}:</label>
<input id="name"class="form-control" type="text" name="user.name" />
<label for="email" class="control-label">&{'Email'}:</label>
<input id="email" class="form-control" type="text" name="user.email"/>
<label for="pw" class="control-label">&{'Password'}:</label>
<input id="pw" class="form-control" type="text" name="user.password"/>
<input class="btn btn-default" type="submit" value="Spara" />	
#{/form}

