<!--
#{get 'user' /}
#{get 'usermodules' /}
#{get 'companymodules' /}
-->

*{<!-- Användarmoduler-->}*
	#{if user}
		*{<!-- Listar användarens ingående moduler-->}*
		#{if usermodules!=null && usermodules.size() != 0}
			<h2>&{'Got.access.to.modules', user.name}</h2>
			<table class="listtable">
				#{list items:usermodules, as:'module'}
					<tr>
						<td><span class="${user.company.modules.contains(module)?'open':'locked'}">${module.name}</span></td>
						
						<td>
							#{form @admin.AdminController.removeModuleFromUser(), class:'delete', username:user.name, module:module.name}				
							<input type="hidden" name="userid" value="${user.id}" />
							<input type="hidden" name="moduleid" value="${module.id}" />
							<input type="submit" class="deletebutton" value="" alt="delete group" />
							#{/form}
						</td>
						
					</tr>
				#{/list}
			</table>
		#{/if}
		
		#{if modules != null && modules.size() > 0 && usermodules.size()!=modules.size()}
		<h2>&{'Accessable.modules.to', user.name}</h2>

		#{form @admin.AdminController.addModuleToUser() }
		<input type="hidden" value="${user.id}" name="uId" />
		<table class="listtable">
			#{list items:modules, as:'module'}  
				#{if !usermodules?.contains(module)}
				<tr>
					<td>
						<input type="checkbox"id="m${module.id}" name="modid[${module.id}]" value="${module.id}" />
					</td>
					<td>
						<label for="m${module.id}">${module.name}</id>
					</td>
				</tr>
				#{/if}
			#{/list}
			<tr>
				<td colspan="2" style="text-align:right">
				<br />
					<input type="submit" value="&{'Save'}" />
				</td>
			</tr>
		</table>
		#{/form}
		#{/if} *{<!-- modules != null && modules.size() > 0 -->}*
	#{/if} *{<!-- if user -->}*