#{extends 'main.html' /}
#{stylesheet 'login.html.css' /}
#{set title}&{'handle.user'}#{/set}

<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery("form.delete").submit(
		function(){
			var username = jQuery(this).attr('username');
			return confirm('&{'sure.remove.user'}'+' '+username);
		}
	);
});
</script>

<br />
<a class="button" href="@{admin.UsersController.create()}">&{'create.user'}</a>
<br />
<hr />
#{list items:users, as:'user'}

#{if user.id!=sessionuser.id }
<!-- NEW USER -->
<div>
    ${user.name}
    [${user.company.name}]
    
	
    <a href="@{admin.UsersController.edit(user.id)}"><img src="/public/images/edit_small.png" alt="" /></a>
     #{form @admin.UsersController.deleteUser(user.id), class:'delete', username:user.name}
        <input type="submit" class="deletebutton" alt="&{'delete'}" value="" />
     #{/form}
      
    <br />
   
    <hr />
  </div>
#{/if}
#{/list}