#{extends 'admin/users/main.html' /}
#{stylesheet 'login.html.css' /}
#{set title}&{'handle.user'}#{/set}

<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery("form.delete").submit(
		function(){
			var username = jQuery(this).attr('username');
			return confirm('&{'sure.remove.user'}'+' '+username);
		}
	);
});
</script>

<br />
<a class="btn btn-warning" href="@{admin.UsersController.create()}">&{'create.user'}</a>
<br />
<hr />


*{<!-- #{if user.id!=sessionuser.id } -->}*
<!-- NEW USER -->
<div class="table-responsive">
   <table class="table table-hover table-striped">
      <tr>
         <th>${'name'}</th>
         <th>&{'info'}</th> 
         <th>&{'type'}</th>                 
         <th>&nbsp</th>            
      </tr>
      #{list items:users, as:'user'}
      <tr>
         <td class="wee-dialog" src="@{Users.viewSingelUser(user.id)}"> ${user.name} ( ${user.getSign()} )</td>
         <td class="wee-dialog" src="@{Users.viewSingelUser(user.id)}">
            #{if user.email != null && !user.email.isEmpty() }
               <span class="glyphicon glyphicon-envelope"></span>
            #{/if}            
            #{if user.cellphone != null && !user.cellphone.isEmpty() }
               <span class="glyphicon glyphicon-phone"></span>
            #{/if}
            #{if user.phone != null && !user.phone.isEmpty() }
               <span class="glyphicon glyphicon-earphone"></span>
            #{/if}
            #{if user.street != null && !user.street.isEmpty() }
               <span class="glyphicon glyphicon-road"></span>
            #{/if}
            #{if user.city != null && !user.city.isEmpty() }
               <span class="glyphicon glyphicon-home"></span>
            #{/if}
         </td>       
         <td>${user.getClass().getSimpleName()}</td>
         <td><a href="@{admin.UsersController.edit(user.id)}"><span class="glyphicon glyphicon-edit"></span></a></td>
         <td>
         #{form @admin.UsersController.deleteUser(user.id), class:'delete', username:user.name}
            <button type="submit" class="btn btn-sm btn-danger" alt="&{'delete'}"><span class="glyphicon glyphicon-trash"></span></button>
         #{/form}
         </td>
      </tr>
      #{/list}
   </table>

  </div>
*{<!-- #{/if}  -->}*
