#{extends 'main.html' /}
#{set title:'Internt.nu' /}

<div class="row">
   
   <div class="col-md-6">
      <h2>Bokföring online vart du än är... </h2>
      <p>
         Men hjälp av vår reponsiva design är webbsidan kompatibel med alla dina enheter, oavsett om
         du använder din surfplatta, stationära dator eller mobiltelefon.
      </p>
      <p>
         Bokför på plats, bara ta ett foto av kvittot med mobilen och lägg in det i bokföringen.
      </p>
      <p>
         Internt.nu stöder SIE-formatet för enkel överföring till din revisors egna bokföringprogram. Genom ett
         enkelt knapptryck kan du ladda ner din bokföring till fil. Eller varför inte bara ge revisorn tillträde 
         till din bokföring med kvitton och allt. Slipp allt trassel med papperskvittenser.
      </p>
   </div>
   <div class="col-md-6">
      <img src="@{'/public/images/responsive.jpg'}" class="center-block img-responsive img-thumbnail" />
   </div>
</div>
<div class="row">
   <div class="col-md-12">
      <h3>Men Internt.nu är inte bara bokföring</h3>
      <p>
         - Filhanterare
         <p>
            Samla dina viktiga dokument enkelt nåbara vart du än är. Enkel hantering av uppladdning och katalogstruktur.
         </p>
      </p>
      <p>
         - Lösenordsmodul
         <p>
            Slipp leta reda på dina lösenord. Du kan både spara lösenorden som är dina egna privata och enbart
            synliga för din användare samt lösenord som är nåbara för alla inom företaget
         </p>
      </p>
      <p>
         - Interna webbdokument
         <p>
            Ha Internt.nu som informationsplats till ditt företag. Skapa enkelt interna webbsidor med 
            styrdokument och annan information till dina medarbetare.
         </p>
      </p>
      <p>
         - Interna meddelanden
         <p>
            Skicka meddelanden inom ditt företag.
         </p>
      </p>
   </div>
</div>
