#{extends 'main.html' /}
#{stylesheet 'login.html.css' /}
#{set title:'Logga in' /}


<fieldset class="loginform">

   
    <legend>&{'login.as.user'}</legend>
    #{form @Application.login() }
    <table class=""fullwidth">
        <thead></thead>
        <tbody>
            <tr>
                <td class="right">
                    <label for="email">&{'email'}</label>
                </td>
                <td> 
                   <input type="text" class="inputbox" id="email" name="email" />
				   <span class="error">#{error 'email' /}</span>
                </td>
            </tr>
            <tr>
                <td class="right">
                   <label for="password">&{'password'}</label> 
                </td>
                <td>
                    <input type="password" class="inputbox" id="password" name="password" />
					<span class="error">#{error 'password' /}</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="right">
                <input class="inputbutton" type="submit" value="&{'buttons.login'}" /> 
                </td>
            </tr>
        </tbody>        
    </table>         
    #{/form}
	<div style="width:100%; text-align:right; padding-top:10px;">
	<a href="@{Application.recoveryView()}">&{'mail.lostPassword'}</a>
	</div>
</fieldset>