#{extends 'main.html' /}
#{set title:'ChooseCompany' /}
<script type="text/javascript">
    $(document).ready(function(){
		jQuery(".divmenu-holder").each(
			function(){
			
				//när man klickar på modulen
				jQuery(this).click(function(){
					var href = jQuery(this).attr("goal");
					location.href=href;
				});
				
				jQuery(this).mouseover(function(){
					jQuery(this).addClass("divmenu-hover");
				});
				
				jQuery(this).mouseout(function(){
					jQuery(this).removeClass("divmenu-hover");
				});
			})

	});
	</script>



<div style="text-align:center">
<div style="width:500px;margin:auto;text-align:left;">
<h1>&{'YouGotMultipleCompanies'}</h1>
<h3>-&{'ChooseCompany'}</h3>
</div>
#{list items:companies,as:'company'}
<div class="divmenu-holder" goal="@{Application.loadCompany(company.id)}" style="float:left;">
<a href="@{Application.loadCompany(company.id)}" id="a-${company.name}" /><h2>&{company.name}</h2></a>
</div>
#{/list}
</div>