#{mainpage title:'Handle.groups' /}
<style>
    span.module-list{
        cursor:pointer;
    }
    
    div.module-setting{
        padding:10px;
        display:none;
    }
</style>

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery("span.module-list").click(function(){
            var module = jQuery(this).attr('module');
            if( jQuery("#"+module).is(":visible"))
            {
                jQuery("#"+module).hide(500);
            }
            else
            {
                jQuery("#"+module).show(500);
            }
        });
    });
</script>

<h1>${company.name}</h1>

#{form @SuperAdminController.updateCompany()}
<input type="hidden" name="company.id" value="${company.id}" />
<table>
<tr>
	<td>
		&{'Users'}:
	</td>
	<td>
		<input type="text" name="company.usersCount" value="${company.getUsersCount()}" />
	</td>
</tr>
<tr>
	<td>
		&{'Admins'}:
	</td>
	<td>
		<input type="text" name="company.adminsCount" value="${company.getAdminsCount()}" />
	</td>
</tr>
<tr>
	<td>
		&{'PrivilegeUsers'}:
	</td>
	<td>
		<input type="text" name="company.privilegeUsersCount" value="${company.getPrivilegeUsersCount()}" />
	</td>
</tr>
<tr>
	<td colspan="2" style="text-align:right;"><input type="submit" value="&{'Save'}" /></td>
</tr>
</table>

#{/form}
<h2>&{'Users'}</h2>
<ul>
#{list items:company.usersWithMultipleAccounts, as:'user'}
	<li>${user.name} [&{user.getClass().getSimpleName()}]
	</li>
#{/list}
</ul>

<h2>&{'Modules'}</h2>
<ul>
#{list items:company.modules, as:'module'}
            <li><span class="module-list" module="${module.name}">&{module.name}</span>
            <div class="module-setting" id="${module.name}">
            </div>
            <script type="text/javascript">
                try{
                    $("#${module.name}").load("@{ModuleController.settings(module.id, company.id)}");
                } catch(ex){
                    
                }
            </script>
        </li>
#{/list}
</ul>