<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="content-type" content="text/html; charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/blocks.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/menu.css'}">
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/modules.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
         <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery-ui/jquery-ui.css'}">
		<script src="@{'/public/javascripts/jquery-1.8.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<script src="@{'/public/javascripts/jquery-ui/jquery-ui.js'}" type="text/javascript" charset="${_response_encoding}"></script>

        #{get 'moreScripts' /}
        #{script 'main.js' /}
	</head>

    <script>
		//stäng av all autocomplete i HTML5 kompitibla webbläsare
        jQuery(document).ready(function(){
			jQuery("input").attr("autocomplete","off");
		});
    </script>
    <body>

    <div class="wrapper">
        <div class="logo">
            <h1>${sessionuser!=null?sessionuser?.company?.name:'Internt.nu'}</h1>
        </div>
		
		*{<!-- User -->}*
		<div id="menu">
			<ul id="headmenu">   
			#{if sessionuser}
				#{include 'Users/menu.html' /}
			#{/if}
			#{if sessionuser.getClass() == models.Admin.class || sessionuser.getClass() == models.SuperAdmin.class}
				#{include 'admin/menu.html' /}
			#{/if}
			#{if sessionuser.getClass() == models.SuperAdmin.class}
				#{include 'bigadmin/menu.html' /}
			#{/if}
			#{if sessionuser}
				<li  style="float:right; !important"><a href="@{Application.logout()}">&{'user.logout'}</a></li>
			#{/if}
			#{elseif !loginform}
			<li><a href="@{Application.loginform()}">&{'user.login'}</a></li>
			<li><a href="@{Application.signup()}">&{'user.signup'}</a></li>
			#{/elseif}
			</ul>
		</div>
       
	   <div style="clear:both;"></div>
	   *{<!-- Messagebox -->}*
		#{if flash['message'] }
			<div class="message ui-state-highlight ui-corner-all" style="width:95%">
				<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				${flash['message']}
				*{<!-- Återaktivering -->}*
				#{if flash['resend']}
					<span style="margin: 20px 0;">
						<a href="@{Application.resendActivationMail(flash['resend'])}"><b>&{'resend.activationmail'}</b></a>
					</span>
				#{/if}
				*{
				<!-- invite mail -->}*
				#{if flash['invite']}
					<span style="margin: 20px 0;">
						<a href="@{admin.UsersController.sendInvitationMail(flash['invite'])}"><b>&{'send.invitationnmail'}</b></a>
					</span>
				#{/if}
				
				
			</div>
		#{/if}
*{<!--
		#{if flash['hasInvites'] }
			<div class="message ui-state-highlight ui-corner-all" style="width:95%">
			%{def invitations = models.mail.Invite.getInvites(sessionuser); }%
			<ul>
				#{list items:invitations, as:'invite'}
					${invite.getFrom().name} &{'invites.you.to'} ${invite.getCompany().name} 
					<a href="javascript:void(0)">&{'accept.invite'}</a>
					<a href="javascript:void(0)">&{'erase.invite'}</a>
				#{/list}
				
			</ul>
			</div>

		#{/if}
-->}*				
		
		
		*{<!-- Messagebox ERROR -->}*
		#{if errors }
			<div class="message ui-state-error ui-corner-all" style="width:95%">
				#{errors}
					<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> ${error}<br />
				#{/errors}
			</div>
		#{/if}
		<div class="content">
			#{doLayout /}
		</div>
        
		<div class="footer">
			#{if sessionuser}
				&{'logged.in.as'} ${sessionuser.name}
				( &{sessionuser.getClass().getSimpleName()} )<br />
				&{'Company'}: ${sessionuser?.company?.name}
			#{/if}
		</div>

    </div>
    </body>
</html>
